<h2>Giỏ hàng của tui</h2>
<div id="update-message"> </div>
<table>
    <tr>
        <th>
            Model sản phẩm
        </th>
        <th>
            Giá (1 sản phẩm)
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Tong
        </th>
        <th>
            Chỉnh sửa
        </th>
    </tr>

    <tr ng-repeat="x in listProduct">
        <td>
            <a href="index.html#/productdetail/{{x.ID}}">{{ x.ModelProduct }}</a>
            <!--@Html.ActionLink(item.PRODUCT.MODEL, "Index", "ProductDetail", new { id = item.PRODUCT_ID }, null)-->
        </td>
        <td>
            {{ x.PriceDouble | number }}
            <!--@item.PRODUCT.PRICE-->
        </td>
        <!--<td id="item-count-@item.RECORD_ID">-->
        <td>
            {{ x.Quantity }}
            <!--@item.COUNT-->
        </td>
        <td>
            {{ x.Total | number }}
        </td>
        <td>
            <button ng-click="TangSoLuong(x.ID)">  +  </button>
            <button ng-click="GiamSoLuong(x.ID)">  -  </button>
            <!-- <a href="#" class="RemoveLink" data-id="1" style="float:left; text-decoration:none">
                ( - )
            </a> -->
            <!--<a href="#" class="RemoveLink" data-id="@item.RECORD_ID" style="float:left; text-decoration:none">
                ( - )
            </a>-->
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: right">
            Tong cong: {{All | number}}
        </td>
    </tr>

    <!--@foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RECORD_ID">
            <td>
                @Html.ActionLink(item.PRODUCT.MODEL, "Index", "ProductDetail", new { id = item.PRODUCT_ID }, null)
            </td>
            <td>
                @item.PRODUCT.PRICE
            </td>
            <td id="item-count-@item.RECORD_ID">
                @item.COUNT
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.RECORD_ID" style="float:left; text-decoration:none">
                    ( - )
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Tổng
        </td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
        <td></td>
    </tr>-->
</table>
<br />
<p class="button">
    <a href="#">Đặt hàng</a>
    <!--@Html.ActionLink("Đặt hàng", "AddressAndOrder", "Order")-->
</p>