USE [MobileStoreService]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetOrders]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetOrders](
	[OrderID] [int] NOT NULL,
	[CustomerName] [nchar](50) NULL,
	[ShipperCity] [nchar](30) NULL,
	[IsShipped] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetOrders] ([OrderID], [CustomerName], [ShipperCity], [IsShipped]) VALUES (10248, N'Taiseer Joudeh                                    ', N'Amman                         ', 1)
INSERT [dbo].[AspNetOrders] ([OrderID], [CustomerName], [ShipperCity], [IsShipped]) VALUES (10249, N'Ahmad Hasan                                       ', N'Dubai                         ', 0)
INSERT [dbo].[AspNetOrders] ([OrderID], [CustomerName], [ShipperCity], [IsShipped]) VALUES (10250, N'Tamer Yaser                                       ', N'Jeddah                        ', 0)
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_CODE] [varchar](10) NOT NULL,
	[ROLE_NAME] [nvarchar](80) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_CODE], [ROLE_NAME]) VALUES (1, N'ROLE_CODE', N'ROLE_NAME')
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_CODE], [ROLE_NAME]) VALUES (2, N'ADMIN', N'Administrator')
INSERT [dbo].[ROLE] ([ROLE_ID], [ROLE_CODE], [ROLE_NAME]) VALUES (3, N'CONTENT', N'Content Administrator')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
/****** Object:  Table [dbo].[PRODUCT_DESCRIPTION]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_DESCRIPTION](
	[PRODUCT_ID] [int] NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[DESCRIPTIONS] [nvarchar](500) NULL,
 CONSTRAINT [PK_PORDUCT_DESCRIPTION] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY](
	[PRODUCT_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CATEGORY_1] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PRODUCT_CATEGORY] ([PRODUCT_ID], [CATEGORY_ID]) VALUES (1, 1)
INSERT [dbo].[PRODUCT_CATEGORY] ([PRODUCT_ID], [CATEGORY_ID]) VALUES (2, 1)
INSERT [dbo].[PRODUCT_CATEGORY] ([PRODUCT_ID], [CATEGORY_ID]) VALUES (3, 1)
/****** Object:  Table [dbo].[PRODUCT_ATTRIBUTE]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_ATTRIBUTE](
	[PRODUCT_ID] [int] NOT NULL,
	[ATTRIBUTE_ID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[ATTRIBUTE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MODEL] [varchar](100) NOT NULL,
	[MANUFACTURE_ID] [int] NULL,
	[PRICE] [float] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[MODEL_ID] [varchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NULL,
	[PRODUCT_IMG] [varchar](100) NULL,
	[DATE_ADD] [date] NULL,
	[DELETED] [int] NULL,
 CONSTRAINT [PK_PORDUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [MODEL], [MANUFACTURE_ID], [PRICE], [QUANTITY], [MODEL_ID], [DESCRIPTION], [PRODUCT_IMG], [DATE_ADD], [DELETED]) VALUES (1, N'Bkav Bphone', 8, 10000000, 100, N'Bphone 001                                        ', NULL, N'/Content/images/phone/phone5.jpg', NULL, 0)
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [MODEL], [MANUFACTURE_ID], [PRICE], [QUANTITY], [MODEL_ID], [DESCRIPTION], [PRODUCT_IMG], [DATE_ADD], [DELETED]) VALUES (2, N'Asus Zenphone 2', 1, 7000000, 120, N'ASUS GT789                                        ', NULL, N'/Content/images/phone/phone4.jpg', NULL, 0)
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [MODEL], [MANUFACTURE_ID], [PRICE], [QUANTITY], [MODEL_ID], [DESCRIPTION], [PRODUCT_IMG], [DATE_ADD], [DELETED]) VALUES (3, N'Asus Zenphone 5', 1, 4200000, 100, N'ASUS GV263                                        ', NULL, N'/Content/images/phone/phone3.jpg', NULL, 0)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ORDER_DATE] [datetime] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](100) NOT NULL,
	[PHONE] [varchar](20) NOT NULL,
	[PAID] [int] NOT NULL,
	[TOTAL] [float] NOT NULL,
	[DELETED] [int] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON
INSERT [dbo].[ORDERS] ([ORDER_ID], [CUSTOMER_ID], [ORDER_DATE], [NAME], [ADDRESS], [PHONE], [PAID], [TOTAL], [DELETED]) VALUES (2, 1, CAST(0x0000A4BD01685562 AS DateTime), N'Hoàng Khoa', N'123 Nguyễn Văn Cừ', N'0123456789', 0, 0, 1)
INSERT [dbo].[ORDERS] ([ORDER_ID], [CUSTOMER_ID], [ORDER_DATE], [NAME], [ADDRESS], [PHONE], [PAID], [TOTAL], [DELETED]) VALUES (3, 1, CAST(0x0000A4BD016A5A36 AS DateTime), N'Hoàng Khoa', N'123 Nguyễn Văn Cừ', N'0123456789', 0, 0, 0)
INSERT [dbo].[ORDERS] ([ORDER_ID], [CUSTOMER_ID], [ORDER_DATE], [NAME], [ADDRESS], [PHONE], [PAID], [TOTAL], [DELETED]) VALUES (4, 1, CAST(0x0000A4BD016C2B94 AS DateTime), N'Hoàng Khoa', N'123 Nguyễn Văn Cừ', N'0123456789', 0, 0, 0)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[ORDER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[UNIT_PRICE] [float] NOT NULL,
 CONSTRAINT [PK_ORDER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANUFACTURE]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANUFACTURE](
	[MANUFACTURE_ID] [int] IDENTITY(1,1) NOT NULL,
	[MANUFACTURE_NAME] [varchar](20) NULL,
 CONSTRAINT [PK_MANUFACTURE] PRIMARY KEY CLUSTERED 
(
	[MANUFACTURE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MANUFACTURE] ON
INSERT [dbo].[MANUFACTURE] ([MANUFACTURE_ID], [MANUFACTURE_NAME]) VALUES (1, N'MANUFACTURE_NAME')
INSERT [dbo].[MANUFACTURE] ([MANUFACTURE_ID], [MANUFACTURE_NAME]) VALUES (2, N'ASUS')
INSERT [dbo].[MANUFACTURE] ([MANUFACTURE_ID], [MANUFACTURE_NAME]) VALUES (3, N'HP')
SET IDENTITY_INSERT [dbo].[MANUFACTURE] OFF
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[EMAIL] [varchar](25) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](150) NULL,
	[PHONE] [varchar](20) NULL,
	[ROLE_ID] [int] NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_CODE], [PASSWORD], [EMAIL], [FIRST_NAME], [LAST_NAME], [ADDRESS], [PHONE], [ROLE_ID]) VALUES (2, N'admin1', N'?"?Z=c??FUe?_?JWi?CZ', N'khoahoang06@gmail.com', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_CODE], [PASSWORD], [EMAIL], [FIRST_NAME], [LAST_NAME], [ADDRESS], [PHONE], [ROLE_ID]) VALUES (3, N'content1', N'????????0??? ?9????', N'hdkcr7@gmail.com', N'Hoàng', N'Khoa', N'123 Nguyễn Văn Cừ', N'0123456789', 2)
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_CODE], [PASSWORD], [EMAIL], [FIRST_NAME], [LAST_NAME], [ADDRESS], [PHONE], [ROLE_ID]) VALUES (4, N'content2', N'?"?Z=c??FUe?_?JWi?CZ', N'hdkcr7@gmail.com', NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[PHONE] [varchar](20) NULL,
	[EMAIL] [varchar](25) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[ACTIVE] [varchar](100) NOT NULL,
	[USERNAME] [varchar](25) NOT NULL,
	[RESET_PASSWORD] [varchar](100) NULL,
	[DATE_REQUEST] [datetime] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [FIRST_NAME], [LAST_NAME], [ADDRESS], [PHONE], [EMAIL], [PASSWORD], [ACTIVE], [USERNAME], [RESET_PASSWORD], [DATE_REQUEST]) VALUES (1, N'FIRST_NAME', N'LAST_NAME', N'ADDRESS', N'PHONE', N'EMAIL', N'PASSWORD', N'ACTIVE', N'USERNAME', N'RESET_PASSWORD', NULL)
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [FIRST_NAME], [LAST_NAME], [ADDRESS], [PHONE], [EMAIL], [PASSWORD], [ACTIVE], [USERNAME], [RESET_PASSWORD], [DATE_REQUEST]) VALUES (2, N'Hoàng', N'Khoa', N'151 Nguyễn Văn Cừ', N'0123456789', N'hdkcr7@gmail.com', N'?"?Z=c??FUe?_?JWi?CZ', N'active', N'khoahoang', N'6dcf1c3d-a1cd-46b1-aa87-238b8b65f5c7', CAST(0x0000A54300BA295F AS DateTime))
INSERT [dbo].[CUSTOMER] ([CUSTOMER_ID], [FIRST_NAME], [LAST_NAME], [ADDRESS], [PHONE], [EMAIL], [PASSWORD], [ACTIVE], [USERNAME], [RESET_PASSWORD], [DATE_REQUEST]) VALUES (3, NULL, NULL, NULL, NULL, N'khoahoang06@gmail.com', N'?"?Z=c??FUe?_?JWi?CZ', N'active', N'khoavan', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [nvarchar](50) NULL,
	[HOME_PAGE] [int] NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [HOME_PAGE]) VALUES (1, N'Điện thoại', 1)
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [HOME_PAGE]) VALUES (2, N'Laptop', 1)
INSERT [dbo].[CATEGORY] ([CATEGORY_ID], [CATEGORY_NAME], [HOME_PAGE]) VALUES (3, N'Máy tính bảng', 1)
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
/****** Object:  Table [dbo].[CART]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[RECORD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CART_ID] [nvarchar](50) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[COUNT] [int] NOT NULL,
	[TIME_CREATED] [datetime] NOT NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CART] ON
INSERT [dbo].[CART] ([RECORD_ID], [CART_ID], [PRODUCT_ID], [COUNT], [TIME_CREATED]) VALUES (2, N'', 2, 1, CAST(0x0000A4BD0101C25D AS DateTime))
INSERT [dbo].[CART] ([RECORD_ID], [CART_ID], [PRODUCT_ID], [COUNT], [TIME_CREATED]) VALUES (3, N'824cb7e2-a651-482c-b92e-9c74fabc5012', 3, 1, CAST(0x0000A4BD0104DD13 AS DateTime))
INSERT [dbo].[CART] ([RECORD_ID], [CART_ID], [PRODUCT_ID], [COUNT], [TIME_CREATED]) VALUES (4, N'824cb7e2-a651-482c-b92e-9c74fabc5012', 7, 1, CAST(0x0000A4BD01056CF5 AS DateTime))
SET IDENTITY_INSERT [dbo].[CART] OFF
/****** Object:  Table [dbo].[ATTRIBUTE]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ATTRIBUTE](
	[ATTRIBUTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ATTRIBUTE_NAME] [varchar](10) NULL,
	[ATTRIBUTE_VALUE] [nvarchar](200) NULL,
	[PRODUCT_ID] [int] NOT NULL,
 CONSTRAINT [PK_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[ATTRIBUTE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ATTRIBUTE] ON
INSERT [dbo].[ATTRIBUTE] ([ATTRIBUTE_ID], [ATTRIBUTE_NAME], [ATTRIBUTE_VALUE], [PRODUCT_ID]) VALUES (2, N'Model', N'Bphone 001', 1)
INSERT [dbo].[ATTRIBUTE] ([ATTRIBUTE_ID], [ATTRIBUTE_NAME], [ATTRIBUTE_VALUE], [PRODUCT_ID]) VALUES (3, N'CPU', N'Intel(R) core i7-4710HQ (2.5GHz upto 3.5GHz, 8Thread, 6M cache, BUS 1600MHz)', 1)
INSERT [dbo].[ATTRIBUTE] ([ATTRIBUTE_ID], [ATTRIBUTE_NAME], [ATTRIBUTE_VALUE], [PRODUCT_ID]) VALUES (4, N'RAM', N'16GB 1600MHz DDR3L (2x8GB)', 1)
SET IDENTITY_INSERT [dbo].[ATTRIBUTE] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1adde13d-19f6-4221-b3f9-dbf68c0d5a0c', NULL, 0, N'AFqP6CfsHiag1wxd7jH/iNOR+jbS++n2RaoazNq1U9ubxADqXAaDLUuJ5YMY/OpdDw==', N'2d68eae2-3645-4274-9fc6-1a7ffe2d3dac', NULL, 0, 0, NULL, 0, 0, N'dhkhanh')
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/26/2015 19:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 12/26/2015 19:43:58 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 12/26/2015 19:43:58 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 12/26/2015 19:43:58 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 12/26/2015 19:43:58 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
