<div class="banner">
    <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="img/slider/tablet.jpg" data-thumb="" alt="" title="Tablet" />
                <img src="img/slider/acer1.jpg" data-thumb="" alt="" title="Acer laptop" />
                <img src="img/slider/geforce.jpg" data-thumb="" alt="" title="Geforce" data-transition="slideInLeft" />
                <img src="img/slider/asus2.jpg" data-thumb="" alt="" title="Asus" />
            </div>
        </div>
    </div>
</div>
<div class="categories container">
    <div class="title row">
        <h1></h1>
    </div>
    <div class="content row">
        <p></p>
        <div ng-repeat="x in pro">
            <div class="product">
                <img src="./{{x.PRODUCT_IMG}}" alt="hinh anh">
                    <a href="index.html#/productdetail/{{x.PRODUCT_ID}}">
                        <p class="product-name">{{x.MODEL}}</p>
                    </a>
                <p class="price">{{x.PRICE}}</p>
            </div>
        </div>
    </div>
</div>